[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
databases = "*"
asyncpg = "*"
psycopg2 = "*"
sqlalchemy-utils = "*"
pydantic = {extras = ["email"], version = "*"}
passlib = "*"
bcrypt = "*"
alembic = "*"
requests = "*"
pytest = "*"
httpx = "*"
freezegun = "*"

[dev-packages]

[requires]
python_version = "3.9"
